<p>Application is working fine !!!</p>
<app-server></app-server>
<hr>
<app-assignment2></app-assignment2>
<br>
<hr>
<hr>
<marquee style="background-color: coral">Section-5 Starts Here</marquee>
<div class="container">
  <app-section5cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-section5cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change the first element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first server</button>
      <app-section5server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
                                  [name]="serverElement.name"
      ></app-section5server-element>
    </div>
  </div>
</div>
<marquee style="background-color: coral">Section-5 Ends Here</marquee>
<br>
<hr>
<marquee style="background-color: grey">Application without NgRx Starts here</marquee>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <app-counter></app-counter>
    </div>
  </div>
</div>
<marquee style="background-color: grey">Application without NgRx Ends here</marquee>

<br>
<hr>
<marquee style="background-color: burlywood">Assignment 4 Starts Here</marquee>
  <div class="row">
      <div class="col-xs-12">
        <app-gamecontrol (intervalFired)="onIntervalFired($event)"></app-gamecontrol>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number2]="evenNumber"></app-even>
      </div>
  </div>
<marquee style="background-color: burlywood">Assignment 4 Ends Here</marquee>

