<p>Application is working fine !!!</p>
<app-server></app-server>
<hr>
<app-assignment2></app-assignment2>
<br>
<hr>
<hr>
<marquee style="background-color: coral">Section-5 Starts Here</marquee>
<div class="container">
  <app-section5cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-section5cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change the first element</button>
      <app-section5server-element *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
                                  [name]="serverElement.name"
      ></app-section5server-element>
    </div>
  </div>
</div>
<marquee style="background-color: coral">Section-5 Ends Here</marquee>
