.bgcolor {
  background-color: red;
}
.inter {
  background-color: aqua;
}
.pro {
  background-color: darkcyan;
}
.bg2 {
  background-color: tan;
}
.container {
  background-color: violet;
}
.online {
  color: aliceblue;
}
