<p class="bgcolor">Hey there, you are getting this text from server - 2 !!!</p>
<div class="inter">
  <h2>Implementing interpolation databinding</h2>
  <p>Normally by adding the variables:</p>
  <h6>Server number {{serverID}} and the status is {{serverStatus}}</h6>
  <p>By adding function as we could pass function as well</p>
  <h6>Next server status {{getserverStatus()}}</h6>
</div>
<hr>
<div class="pro">
  <h2>Implementing property databinding</h2>
  <button [disabled] = "!allowNewServer" class ="btn btn-primary">Property Data Binding</button>
</div>
