<p class="bgcolor">Hey there, you are getting this text from server - 2 !!!</p>
<div class="inter">
  <h2>Implementing interpolation databinding</h2>
  <p>Normally by adding the variables:</p>
  <h6>Server number {{serverID}} and the status is {{serverStatus}}</h6>
  <p>By adding function as we could pass function as well</p>
  <!--<h6>Next server status {{getserverStatus()}}</h6>-->
</div>
<hr>
<div class="pro">
  <h2>Implementing property databinding</h2>
  <button [disabled] = "!allowNewServer" class ="btn btn-primary">Property Data Binding</button>
</div>
<div class="bgcolor">
  <h2>Implementing event databinding</h2>
  <button [disabled] = "!allowNewServer" (click)="onServerCreating()" class ="btn btn-primary">Click to perform Event Data Binding</button>
  <p>{{serverCreationStatus}}</p>
</div>
<div class="bg2">
  <h2>Implementing two way databinding</h2>
  <input [(ngModel)]="enterServer">
  <p>{{enterServer}}</p>
</div>
<hr>
<div style="background-color: antiquewhite">
  <h2>Implementing all databinding together</h2>
  <input [(ngModel)]="enterServer">
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Implementing ngStyle directive</h2>
      <p [ngStyle]="{'background-color': getColor()}"
        [ngClass]="{online: serverStatus === 'Online'}">
        Server number {{serverID}} and the status is {{serverStatus}}</p>
      <p [ngStyle]="{backgroundColor: getColor()}">Server number {{serverID}} and the status is {{serverStatus}}</p>
    </div>
  </div>
</div>
